_ReSharper.*/
bin
obj
Backup
*.user
*.suo
*.Cache
publish
*.deploy
Debug
Release
UpgradeLog.*
_UpgradeReport_Files/
packages/
_UpgradeReport*
*.dbmdl
*.ncrunchproject
*.ncrunchsolution
/.vs/
/src/Web.Domain.Tests/TestResult.xml
/artifacts
